{% extends 'app/layout.html' %}
{% load static %}

{% block childBody %}
<link rel="stylesheet" href="{% static 'app/home.css' %}">
<script src="{% static 'app/home.js' %}"></script>


<section class="hero duna-hero" style="--hero-image: url('{% static 'app/img/landscape_1.jpg' %}')">
    
  <div class="hero-bg"></div>
  <div class="hero-overlay"></div>

  <div class="container hero-center">
    <h1>Image quality matters <br>before analysis begins.</h1>
    <p>
      This platform explores how machine learning can be used as a preprocessing and quality-control step in remote sensing workflows.
    </p>

    <div class="hero-actions hero-actions-center">
      <a class="btn btn-primary" href="{% url 'mapview' %}">View Global Conditions</a>
      <a class="btn btn-ghost" href="{% url 'mapview' %}">Run an Image Assessment</a>
    </div>
  </div>

  <div id="heroSentinel"></div>
</section>

{% endblock %}
